/*--- kwicks gallery begin ---*/
.slider {
	background:#fff;
	width:940px;
	height:287px;
	
	
	
	
}
	

.kwicks {
	/* recommended styles for kwicks ul container */
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
	overflow:hidden;
	width:940px;
	height:287px;
}
.kwicks li{
	/* these are required, but the values are up to you (must be pixel) */
	width: 160px;
	height: 300px;
	/*do not change these */
	display: block;
	overflow: hidden;
	padding: 0;  /* if you need padding, do so with an inner div (or implement your own box-model hack) */
	cursor:pointer;
}
.kwicks li.active {
	
}
.kwicks.horizontal li {
	/* This is optional and will be disregarded by the script.  However, it should be provided for non-JS enabled browsers. */
	margin-right: 0; /*Set to same as spacing option. */
	float: left;
}
	
	
	.kwicks li h4.title {
		font-size:13px;
		text-align:center;
		color:#fff;
		position:absolute;
		width:100%;
		left:0;
		bottom:5px;
		text-transform:uppercase;
		font-weight:normal;
		padding:0;
	}
	.kwicks li span {
		display:block;
		width:100%;
		height:300px;
		background:url(../images/sliders-tail.png) 0 0 repeat-x;
		position:absolute;
		left:0;
		top:0;
	}
	.kwicks li .description {
		width:100%;
		height:70px;
		position:absolute;
		bottom:-70px;
		left:0;
		font-family:Arial, Helvetica, sans-serif;
		font-size:10px;
		text-transform:uppercase;
		color:#fff;
		background:url(../images/desc-bg.png) 0 0;
	}
		.kwicks li .description .inner {
			padding:10px 20px 0 30px;
			line-height:15px;
		}
		.kwicks li .description h4 {
			font-size:18px;
			color:#fff;
			font-weight:normal;
			text-transform:none;
			margin-bottom:5px;
		}
/*--- kwicks gallery end ---*/



